#main {
  height: 100vh;
  width: 100%;
}

#main h6 {
  background: rgba(0, 0, 0, 0.3);
  top: 30%;
  font-size: 6em;
  position: relative;
}

#main h2 {
  background: rgba(0, 0, 0, 0.3);
  top: 30%;
  font-size: 3em;
  position: relative;
}

#main #logoimg {
  width: 30%;
  left: 35%;
  bottom: 10%;
  cursor: pointer;
  position: absolute;
}

.light {
  height: 80%;
  width: 80%;
  margin: 10%;
  background: rgba(255, 255, 255, 0.5);
}

.light:hover {
  background: rgba(255, 255, 255, 0.7);
}

.section {
  width: calc(100% - 32px);
  overflow: auto;
  padding: 16px;
}

h1 {
  height: 40%;
  font-size: 6em;
}

p {
  font-size: 1em;
  line-height: 1.5;
  width: 80%;
  margin: 0 10% 0 10%;
}

b {
  font-size: 1.2em;
}

@import url(https://fonts.googleapis.com/css?family=Rubik);

* {
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  text-align: center;
}

#main {
  background: url("../images/bg.jpg") no-repeat fixed;
  background-size: cover;
}

#main .banner1 {
  height: 30%;
  left: 5%;
  bottom: 10%;
  position: absolute;
}

#main .banner2 {
  height: 30%;
  right: 15%;
  bottom: 10%;
  position: absolute;
}

#about,
#nabor {
  background: url("../images/bg-about.jpg") no-repeat fixed;
  background-size: cover;
}

#rozpis,
#school,
#prices {
  background: url("../images/bg-rozpis.png") no-repeat fixed;
  background-size: cover;
}

#contact {
  height: 50vh;
  background: url("../images/bg-contact.jpg") no-repeat fixed;
  background-size: cover;
}

#contact h2 {
  text-align: center;
  font-size: 2.5em;
}

#contact p {
  font-size: 1.1em;
}
.row3 {
  width: 25%;
  float: left;
}

.row3:first-of-type {
  margin-left: 10%;
}

.row3 p {
  font-size: 1.2em;
}

.row3 h2 {
  font-size: 1.8em;
}

.row2 {
  width: 35%;
  float: left;
}

.row2 h2,
li {
  text-align: left;
}

.row2:first-of-type {
  margin: 0 5% 0 10%;
}

.row4 {
  width: 20%;
  float: left;
}

.row4:first-of-type {
  margin-left: 10%;
}
